body
{
	margin:0px;
}
/*--Header--*/
header
{
	background-color:black;
	padding:10px;
}
header>h1
{
	color:white;
	margin:0px;
	font-size:40px;	
}
header>h1>span
{
	z
	color:orange;
	font-size:50px;
	font-family:cursive;
}
/*--Landing Page--*/
#landing-page
{
	background:black url(office.jpg) no-repeat scroll 0px 0px;
	background-size:cover;
	height:100vh;
	color:white;
}
#landing-page>#wrapper
{
	background-color:rgba(0, 0, 0, 0.4);
	text-align:center;
	height:inherit;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
#landing-page>#wrapper>h1
{
	font-size:40px;
	margin:0px;
}
#landing-page>#wrapper>h1>span
{
	text-shadow:0 0 10px white;
}
#landing-page>#wrapper>p
{
	font-size:17px;
}
#landing-page>#wrapper>button
{
	background-color:white;
	color:orange;
	font-weight:bold;
	font-size:20px;
	padding:7px 15px;
	border-radius:14px;
}
#landing-page>#wrapper>button:hover
{
	cursor:pointer;
	box-shadow:0 0 10px black;
}
